<h2>Knock Knock</h2>

<ul>
  <li>'/api/Fibonacci?n=_' - Returns the nth number in the fibonacci sequence.</li>
  <li>'/api/ReverseWords?sentence=_' - Reverses the letters of each word in a sentence.</li>
  <li>'/api/Token' - Diplays my token</li>
  <li>'/api/TriangleType?a=_&b=_&c=_' - Returns the type of triange given the lengths of its sides.</li>
</ul>
