<h2>Knock Knock</h2>

<ul>
  <li>'/api/Fibonacci?n='</li><span> Returns the nth number in the fibonacci sequence.</span>
  <li>'/api/ReverseWords?sentence='</li><span> Reverses the letters of each word in a sentence.</span>
  <li>'/api/Token'</li><span> Diplays my token</span>
  <li>'/api/TriangleType?a=_&b=_&c=_'</li><span> Returns the type of triange given the lengths of its sides.</span>
</ul>
